* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container-horizontal {
    display: flex;
    margin-left: 50px;
    padding: 20px;
    font-size: 30px;
}

.container-horizontal > center {
    margin-left: 50px;
}

.container-vertical {
    display: flex;
    flex-direction: column;
}
