* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.main {
    display: flex;
    height: 50vh;
    align-items: center;
    justify-content: center;
}

.hero-img {
    max-width: 670px;
    height: auto;
}

.content-left {
    width: 30%;
}

.main h3 {
    font-size: 60px;
    color: #133f52;
}

.main h1 {
    font-size: 60px;
    color: #f0513c;
}

.main h4 {
    font-size: 25px;
    color: #FCA70C;
    font-weight: 400;
    margin-top: 5px;
    text-transform: uppercase;
}

.content {
    font-size: 20px;
    margin: 0 180px;
}

center {
    margin: 50px 0;
}

center h2 {
    font-size: 54px;
    color: #133f52;
}

center h1 {
    font-size: 34px;
    color: #f0513c;
}

.youtube-promo { 
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.youtube-promo .content-right img {
    height: 775px;
}

iframe {
    margin: 20px;
}